<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="card">
    <h5 class="card-header">Find Your Perfect Job</h5>
    <form action="/" method="POST">
    <ul>
        <%- include ('parts/homs')%>
    </ul>
  </form>
  </div>

  <%- include('parts/footer')%>
      